<div fxLayoutAlign="space-around center" fxLayout="column">

    <mat-card >

        <mat-card-title>
            Hello! Welcome to Ukraina!
        </mat-card-title>

        <mat-card-content>
            If you a are a refuge please go and see all the offers for jobs, housing and other that our voluenters provide!

            If you want to help please do not hesitate to post a help offer now!
        </mat-card-content>



        <mat-card-actions align="end">

            <button mat-button (click)="postOffer()">Provide some help!</button>
            <button mat-button (click)="seeOffers()" >See offers!</button>
        
 

        </mat-card-actions>
    </mat-card>





</div>