<div class="container flex-column flex-center p-3">

    <form #createForm="ngForm">
        <div fxLayout="column" fxLayoutAlign="space-around center" style="margin-top:2em;">

            <mat-label>  <h2>Create a new Offer</h2> </mat-label>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Offer title </mat-label>
                <textarea required matInput placeholder="Home for 3" name="description"
                    [(ngModel)]="title"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Location </mat-label>
                <textarea required matInput placeholder="Iasi" name="location"
                    [(ngModel)]="locality"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Maximum number of refugees (including kids) </mat-label>
                <input required matInput  name="maxRef"
                    [(ngModel)]="maxRefuge" type="number" min="0" max="100">
            </mat-form-field>


            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Offer description </mat-label>
                <textarea required matInput placeholder="I can offer  you a place to sleep!" name="description"
                    [(ngModel)]="description"></textarea>
            </mat-form-field>


            <button type="button" mat-raised-button color="accent" (click)="submit(createForm)">Post!</button>
        </div>
    </form>
</div>