.my-card{
    margin: 5em;
}

.mat-form-field{
    width: 85%;

}

.no-body {
    max-height: 48px;
  }
  .no-body.mat-expansion-panel-header >>> .mat-expansion-indicator {
    display: none;
  }



.normal-text.mat-panel-description{
    color: black
}