<mat-card class="my-card">



    <mat-card-title>{{ this.offer.title }} </mat-card-title>
    <mat-card-subtitle> Posted by {{ "" + this.offer.appUser?.firstName + " " +this.offer.appUser?.lastName }}
    </mat-card-subtitle>
    <mat-card-content>

        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h2> Locality:  </h2>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{this.offer.county?.name}} {{this.offer.city?.name}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                {{this.offer.county?.name}} {{this.offer.city?.name}} {{this.offer.locality}}
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle="" class="no-body">
                <mat-expansion-panel-header class="no-body">
                    <mat-panel-title>
                     <h2>  Maximum number of refugees that i can take:</h2>  
                    </mat-panel-title>
                    <mat-panel-description>
                        {{this.offer.maxRefuge}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle="" class="no-body">
                <mat-expansion-panel-header class="no-body">
                    <mat-panel-title>
                      <h2> Staying period: </h2> 
                    </mat-panel-title>
                    <mat-panel-description>
                        {{this.offer.period}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                     <h2> Looking for: </h2>  
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let el of  this.wiling2host"> {{el}} </mat-list-item>
                </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h2> Housing conditions: </h2>  
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let el of  this.typeOfAccomodation"> {{el}} </mat-list-item>
                </mat-list>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>

                        <h2>Description:</h2>
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    {{this.offer.description}}
                </div>
            </mat-expansion-panel>

        </mat-accordion>



        <div *ngIf="myOffer; then showMyPost"> </div>

    </mat-card-content>




    <ng-template #showMyPost>
        <div class="container flex-column flex-center p-3">
            <table mat-table [dataSource]="pendingOffers" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element">
                        <div> {{element.description}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="accepted">
                    <th mat-header-cell *matHeaderCellDef> Accepted status </th>
                    <td mat-cell *matCellDef="let element"> {{element.accepted}}</td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef>Name of the applicant</th>
                    <td mat-cell *matCellDef="let element"> {{element.reguestedbyuser.firstName}} {{
                        element.reguestedbyuser.lastName}}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.reguestedbyuser.email}}</td>
                </ng-container>

                <ng-component matColumnDef="button">
                    <th mat-header-cell *matHeaderCellDef>Confirm acceptence</th>
                    <td mat-cell *matCellDef="let element">

                        <button mat-raised-button style=" width:90%" (click)="accept_pending_offer(element)">Accept
                            {{element.reguestedbyuser.firstName}}</button>
                    </td>
                </ng-component>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </ng-template>

    <div *ngIf="!myOffer; then ApplyFor else CRUD"> </div>

    <ng-template #ApplyFor>
        <mat-card-actions align="end">
            <button mat-raised-button color="accent" (click)="apply()"> Apply for offer </button>
        </mat-card-actions>
    </ng-template>


    <ng-template #CRUD>
        <mat-card-actions align="end">
            <button mat-raised-button color="accent" (click)="update()"> Update </button>
            <!-- <button mat-raised-button color="accent" (click)="delete()"> Delete </button> -->
        </mat-card-actions>
    </ng-template>

</mat-card>